* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 125vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 80% !important;
}

#logo {
  width: 400px;
}
